@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.xl');
    margin: theme('spacing.8');
    padding: theme('spacing.8');
    box-shadow: theme('boxShadow.xl');
    width: 200px;
    height: 280px;
  }
  .card-detail{
    background-color: theme('colors.poke-blue');
    border-radius: theme('borderRadius.xl');
    padding: theme('spacing.1');
    box-shadow: theme('boxShadow.xl');
    width: 510px;
    height: 380px;
  }
  .card-atributes{
    background-color: theme('colors.poke-orange');
    border-radius: theme('borderRadius.xl');
    margin: theme('spacing.8');
    padding: theme('spacing.8');
    box-shadow: theme('boxShadow.xl');
  }
  .card-moves{
    background-color: theme('colors.poke-orange');
    border-radius: theme('borderRadius.xl');
    margin: theme('spacing.8');
    padding: theme('spacing.8');
    box-shadow: theme('boxShadow.xl');
    width: 150px;
    height: auto;
  }
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

html {
  box-sizing: border-box; /*Hack para box model*/
  scroll-snap-type: y mandatory;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image: url(./img/pokemon-in-the-wild.webp);
  background-size: cover;
  background-position: top;
  background-repeat: repeat-y;
  font-family: 'Zen Kurenaido', sans-serif;
}


progress {
  border: none;
  border-radius: 2rem;
  width: 100%;
  height: 9px;
  animation: prog 2s linear;
  }
  
  ::-webkit-progress-bar-value {background-color: #1DA1F2; border-radius: 2rem;}
  ::-webkit-progress-value {background-color: #1DA1F2; border-radius: 2rem;}
  ::-moz-progress-bar {background-color: #1DA1F2; border-radius: 2rem;}
   
  @keyframes progres {
    0% {width: 0%; background-color: #f1f1f1;}
    100% {width: 100%; color: #000;}
  }
  

