@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      margin: theme('spacing.3');
      padding: theme('spacing.9');
      box-shadow: theme('boxShadow.xl');
    }
}

body{
  background-image: url(./img/pokemon-in-the-wild.webp);
  background-repeat: repeat-y;
  background-size: 100%;
}

